@import 'app';

.navbar-container {
  padding: 10px;
  background-color: $backgroundColor;
  border-bottom: 1px solid $borderColor;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journalise-header {
  cursor: pointer;
}

.unordered-list {
  list-style: none;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $textColor;
    margin: 0 10px;
    &:hover {
      transition: all 0.2s ease-in-out;
      color: #000000;
    }
  }
}
